{% extends 'base.html' %}

{% block title %}
Вход
{% endblock %}

{% block body %}

<!--<main class="container form-signin w-100 m-auto  xs">-->
<div class='container xs'>

<!--</div>-->
  <form method="POST" action="{{ url_for('log_in') }}">
    <h1 class="h3 mb-3 fw-normal">Log In</h1>

    <div class="form-floating">
      <input type="text" class="form-control" name="username" size=2 id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>


    <button class="btn btn-primary w-100 py-2" type="submit">Log in</button>
  </form>
  </div>
{% endblock %}